body {
    font-family: "Lucida Console", Monaco, monospace;
}

#sandbarContainer {
  background-color: rgb(0, 0, 0);
  border-radius: 13px;
  padding: 3px;
}

#sandbar>div {
  background-color: rgb(131, 98, 38);
  height: 20px;
  border-radius: 10px;
}

span.block {
    display: inline-block;
    width: 30px;
    height: 30px;

    border-style: solid;
    border-width: thin;
}

#demo {
    border-style: solid;
    text-align: center;
}

#btnDiv {
    padding: 10px 0px;
    text-align: center;
}

#instDiv {
  text-align: center;
}