body {
    font-family: "Lucida Console", Monaco, monospace;
    float: left;
}

#boardConatiner {
  display: inline-block;
}

span.block {
    display: inline-block;
    width: 30px;
    height: 30px;

    border-style: solid;
    border-width: thin;
}

.board {
  display: inline-block;
    border-style: solid;
}

#btnDiv {
    padding: 10px 0px;
    text-align: center;
}